.wrapper {
  overflow: auto;
  white-space: nowrap;
}

.tab {
  display: inline-block;
  align-items: center;
  font-size: 1.6rem;
  padding: 1rem 1.6rem;
  border-radius: 2.7rem;
  border: solid 1px rgba(0,0,0,0.1);
  cursor: pointer;
  margin-right: .8rem;
  margin-bottom: 1.6rem;
}

.tabActive {
  composes: tab;
  background-color: #E88D06;
  color: white;
  border-color: #E88D06;
}
