.container {

}

.count {
  color: black;

  font-size: 1.8rem;
}

.list {
  margin-top: -2rem;
  border-top: solid 1px darkgray;
}

.btnMore {
  border-radius: .4rem;
  text-align: center;
  font-size: 1.6rem;
  padding: 2rem 0;
  margin-bottom: 2.4rem;
  background-color: #e2e2e2;
}
