.container {
  position: relative;
  padding: 5rem 0 2rem;
  background: no-repeat center;
  background-size: cover;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.wrapper {
  position: relative;
  z-index: 10;

  li {
    margin-top: 2rem;
  }
}

.block {
  border-bottom: solid 1px #E5E5E5;
  margin-bottom: 3rem;
  padding-bottom: 2rem;
}


.mainLink {
  display: block;
  color: white;
  font-size: 1.6rem;
  transition: all 200ms ease-in;
  margin-bottom: 1rem;
  text-align: center;
}

.link {
  composes: mainLink;
  font-weight: 300;
}

.logo {
  height: 10rem;
  background: no-repeat center;
  background-size: contain;
}

.contacts {
}

.phone {
  text-align: center;
  margin-top: 1rem;
  font-size: 2.2rem;
  line-height: 4.2rem;
  color: #E5E5E5;
  margin-bottom: 2rem;
}

.addr {
  font-size: 1.4rem;
  color: white;
  font-weight: 300;

  svg {
    margin-right: 1rem;
  }
}

.unclespace {
  padding: 2rem 0;
  font-size: 1.6rem;
  font-weight: 300;
  text-align: center;
  color: white;
  background-color: #303030;
}

