.container {

}

.block {
  margin-bottom: 8.2rem;
}

.title {
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: #000000;
  margin-bottom: 1.6rem;
}

.icon {
  width: 5rem;
  height: 3rem;
  background: no-repeat center left;
  background-size: contain;
  display: inline-block;
}

.text {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: #000000;
}
