.container {
  position: relative;
  padding: 10rem 0 5rem;
  background-size: cover;
  background-color: #282828;

  hr {
    border-top: none;
    border-color: #767676;
  }
}

.wrapper {
  position: relative;
  z-index: 10;

  li {
    margin-top: 2.4rem;
  }
}

.row {
  display: flex;
  justify-content: space-between;
}

.column {
  width: 50%;
}

.mainLink {
  display: block;
  color: white;
  font-size: 2rem;
  transition: all 200ms ease-in;
  margin-bottom: 2rem;
  text-align: right;
  padding-right: 4rem;

  &:hover {
    color: #c37306;
  }
}

.link {
  composes: mainLink;
  text-align: left;
  font-weight: 300;
  padding-right: 0;
  padding-left: 4rem;
}

.logo {
  height: 20rem;
  background: no-repeat center;
  background-size: contain;
}

.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phone {
  margin-top: 1rem;
  font-size: 2.8rem;
  line-height: 4.2rem;
  color: #E5E5E5;
}

.addr {
  font-size: 2rem;
  color: white;
  font-weight: 300;

  svg {
    margin-right: 1rem;
  }
}

.unclespace {
  padding: 2rem 0;
  font-size: 1.8rem;
  font-weight: 300;
  color: white;
  background-color: #303030;
}
