.container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #2a2a2f;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.wrapper {
  position: absolute;
  top: 50%;
}

.title {
  font-size: 6.4rem;
  line-height: 7.5rem;
  margin-bottom: 1rem;
  color: #FFFFFF;

  span {
    color: #606060;
  }
}

.text {
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: #E5E5E5;
  margin-bottom: 6rem;
}

.video {
  pointer-events: none;
  width: 100%;
  height: 100vh;
}

.buttons {
  position: absolute;
  bottom: 5rem;
  display: flex;
  right: 9rem;

  .prev, .next {
    position: relative;
    height: 4rem;
    border: 1px solid #FFFFFF;
    border-radius: 2rem;
    min-width: 4rem;
    color: white;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 2rem;
    cursor: pointer;
    display: flex;
    justify-content:center;
    align-items: center;
    transition: all 200ms ease-in;

    &:last-child {
      margin-left: 2rem;
    }

    &:hover {
      color: #E88D06;
      border-color: #E88D06;
    }
  }
  .next {
    padding: 0 2rem;
  }
}