.container {
  position: relative;
  min-height: 100vh;
  display: flex;
  background-color: rgba(0,0,0,0.7);
}
.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.side {
  width: 8rem;
}

.content {
  margin-left: 15rem;
  margin-top: 50vh;
  width: 70vw;

  color: white;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 3.2rem;

}

.title {
  color: white;
  font-weight: normal;
  margin-bottom: 2.4rem;

  span {
    font-size: 2.6rem;
    margin-left: 2rem;
    color: #c37306;
  }
}

.text {
  color: white;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 3.2rem;
  width: 60%;
  margin-bottom: 3.8rem;

  p {
    font-size: inherit;
    font-weight: inherit;
  }
}

.side {
  position: absolute;
  top: 0;
}

.backLink {
  display: block;
  position: absolute;
  top: 10vh;
  color: white;

  svg {
    width: 3.2rem;
    height: 3.2rem;
  }

  &:hover {
    color: #c37306;
  }
}

.advantages {
  li {
    font-size: 2rem!important;
    font-weight: 300;
    margin-bottom: 0.5rem;
  }
}

.btn {
  margin-top: 2.4rem;
}
