.container {
  width: 70rem;

  table {
    width: 100%;
    font-size: 2rem;
    border-spacing: 0;
  }

  td {
    padding: 2rem 0 1rem;
    border-bottom: solid 1px #E2E2E2;
  }

  span {
    color: #767676;
  }
}