.container {
  position: relative;
  height: 100vh;
  background: no-repeat center;
  background-size: cover;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.wrapper {
  position: relative;
  z-index: 5;
  padding-top: 35%;
}

.title {
  color: white;
  font-size: 7.2rem;
  line-height: 8.4rem;
  margin-bottom: 1.8rem;

  &:after {
    content: '';
    width: 30rem;
    display: block;
    height: 0.2rem;
    background-color: #c37306;
    margin-bottom: 2.6rem;
  }
}

.text {
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 3.6rem;
  color: #E5E5E5;
}