.container {
  background-color: #272727;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.item {
  font-size: 1.6rem;
  color: white;
  padding: 2rem 4rem;

  &__active {
    background-color: #4d4d4d;
  }
}
