.container {
}

.video {
  margin: 0 -2rem;
  width: calc(100% + 4rem);
  height: 25rem;
  margin-bottom: 2rem;
}

.block {
}

.title {
  font-size: 2.2rem;
}

.text {
  margin-top: 1.4rem;
  font-weight: 300;
  font-size: 1.4rem;
}
