.container {
}

.block {
  background: no-repeat center;
  background-size: cover;
  margin-bottom: 2rem;
}


.wrapper {
  height: 100%;
  padding: 5rem 2rem;
  background-color: rgba(0,0,0,0.7);

  .title {
    color: white;
    font-size: 2rem;
    margin-bottom: 2rem;

    &:after {
      content: '';
      margin-top: 1rem;
      display: block;
      width: 20rem;
      background-color: #E88D06;
      height: 0.2rem;
    }
  }

  ul {
    padding: 0;
    margin-bottom: 4.6rem;
  }

  .item {
    color: white;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 2.5rem;

    &:hover {
      color: #E88D06;
    }
  }
}
