.container {
  position: relative;
  padding: 10rem 0;
  background: no-repeat center;
  background-size: cover;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.wrapper {
  position: relative;
  z-index: 10;

  li {
    margin-top: 2.4rem;
  }
}

.row {
  display: flex;
  padding-bottom: 10rem;

  &:not(:last-child) {
    border-bottom: solid 1px #E5E5E5;
  }
}

.column {
  width: 33%;
}

.title {
  display: block;
  padding: 2rem 0;
  color: white;
  font-size: 2.4rem;
  line-height: 2.8rem;
  border-bottom: solid 1px #E5E5E5;
}

.item {
  color: white;
  font-size: 1.8rem;
  line-height: 2.1rem;
  transition: all 200ms ease-in;

  &:hover {
    color: #c37306;
  }
}
