.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 50rem;
  padding: 15rem 0 6rem;
  color: white;
  background-color: rgba(0,0,0,0.8);

  li {
    margin-bottom: 1rem;
  }
}

.withoutTabs {
  min-height: 60rem;
}

.title {
  font-weight: 400;
  font-size: 3.2rem;
  margin-bottom: 2.4rem;
}

.text {
  font-size: 1.6rem;
  font-weight: 300;
}

.back {
  display: block;
  position: absolute;
  top: 10rem;
  color: white;

  svg {
    width: 3.2rem;
    height: 3.2rem;
  }
}
