.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 50rem;
  padding: 6rem 0;
  color: white;
  background-color: rgba(0,0,0,0.8);
}

.withoutTabs {
  height: 55rem;
}


.title {
  font-weight: 400;
  font-size: 4.2rem;
  margin-bottom: 2.4rem;
}

.text {
  width: 70%;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 300;
}

.row {
  width: 100%;
  display: flex;
}

.icon {
  flex-grow: 0;
  width: 6.4rem;
  height: 6.4rem;
  background: no-repeat center;
  background-size: contain;
  margin-right: 6.4rem;
}
