.container {
  margin: 0 0 20rem;
}

.header {
  padding-top: 8rem;
  background-color: #2a2a2f;
  margin-bottom: 4rem;
}

.logo {
  display: block;
  background-size: contain;
  height: 20rem;
}

.text {
  font-size: 2.2rem;
}
