.container {
  background-color: #272727;
  min-height: 6rem;
}

.pending {
  pointer-events: none;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.item {
  font-size: 1.6rem;
  color: white;
  height: 100%;
  padding: 2rem 4rem;

  &__active {
    background-color: #4d4d4d;
  }
}
