.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 50rem;
  padding: 6rem 0;
  color: white;
  background-color: rgba(0,0,0,0.8);
}


.title {
  font-weight: 400;
  font-size: 5.4rem;
  margin-bottom: 2.4rem;
}

.text {
  width: 60%;
  font-size: 2rem;
  font-weight: 300;
}
