.container {
  position: relative;

  :global {
    .react-images__blanket {
      z-index: 100000;
    }
    .fullscreen {
      position: relative;
      z-index: 1000000;
    }
  }
}

.hoverBlock {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease-in;

  svg {
    width: 10rem;
    height: 10rem;
    color: white;
  }
}

.image {
  position: relative;
  height: 28rem;
  width: 100%;
  background: no-repeat center;
  background-size: cover;
  cursor: pointer;
  margin-bottom: 2rem;
  box-shadow: 0 .4rem .4rem rgba(0, 0, 0, 0.25);

  &:hover {
    .hoverBlock {
      opacity: 1;
    }
  }
}

.btn {
  width: 100%;
  text-align: center;
}
